@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  border: none;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.header {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #131316;
}

.sidebar-logo {
  padding: 10px 15px;
  border-radius: 12px;
  background-color: #f5f5f5;
}

.nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0rem;
  background-color: white;
  width: 50%;
  height: 70vh;
}

.nav-desktop {
  display: none;
}

.nav > a {
  margin: 0.5rem;
  color: #131316;
}

.nav > a:last-child {
  border-radius: 12px;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
}

/* hero section ******************************************************************************************/

.hero {
  padding: 1rem;
}

.hero > h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  line-height: 44px;
}

.hero > p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  margin: 1rem 0;
}

.btn-container1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-blue {
  background-color: #4891ff;
  border-radius: 14px;
  padding: 12px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.btn-light {
  background-color: #f5f5f5;
  border-radius: 14px;
  padding: 12px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.hero-bg-mobile {
  width: 95%;
  margin: 50px auto;
  display: block;
}

.hero-bg-desktop {
  display: none;
}

/* video section *******************************************************************************************/

.video {
  background-color: #131316;
  color: #ffffff;
  padding: 3rem 1rem;
}

.video > p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  line-height: 38px;
}

.video > img {
  width: 100%;
  margin: 1.5rem 0;
}

.video > button {
  width: 100%;
}

.hrdiv{
  background-color: #131316;
}

.hr {
  border: 1px solid #494949;
  width: 90%;
  margin: auto;
}

/*testimonial*/
.testimonial {
  background-color: #131316;
  color: #ffffff;
  padding: 3rem 1rem;
}

.testimonial > p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
}
.divTestimonial {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}
.box {
  background-color: #ffffff;
  border-radius: 16px;
  color: #131316;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
}

.person {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  margin-top: 1.5rem;
}

.role {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/*pricing section */
.pricing {
  padding: 3rem 1rem;
}

.pricing > h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.pricing > p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #494a4d;
  margin: 1rem 0;
  text-align: center;
}

.plans {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#plan1 {
  background-color: #fafafa;
  color: #131316;
}
.hr1 {
  border: 1px solid #dfdee2;
}
#plan2 {
  background-color: #131316;
  color: #ffffff;
}
.hr2 {
  border: 1px solid #494949;
}

.plan {
  border-radius: 16px;
  padding: 1.5rem 2rem;
}

.plan > h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
}

.plan > p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.cost {
  margin: 1rem 0;
}

.cost > span:first-child {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
}
.cost > span:last-child {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.benifit {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 1.5rem 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.fa-check {
  margin-top: 0.3rem;
  margin-right: 0.4rem;
}

.benifits {
  display: flex;
}

.plan > button {
  width: 100%;
}

.plus {
  margin-top: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.usd {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  margin: 1.5rem auto;
  padding: 0 2rem;
  color: #131316;
}

.features {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

.fa-arrow-right {
  transform: rotate(90deg);
}

@media only screen and (min-width: 720px) {
  .header {
    padding: 0.5rem 5rem;
  }
  .nav-desktop {
    display: block;
  }
  .nav-desktop > a {
    margin: 1rem;
    color: #131316;
  }

  .nav-desktop > a:last-child {
    border-radius: 12px;
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
  }

  .sidebar-logo {
    display: none;
  }

  /* hero section aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

  .hero {
    margin: 3rem 0;
    padding: 0.5rem 5rem;
    /* position: relative; */
  }

  .hero > h1 {
    font-size: 64px;
    text-align: left;
    line-height: 75px;
    width: 75%;
  }

  .hero > p {
    font-size: 20px;
    text-align: left;
    width: 45%;
    margin: 2rem 0;
  }

  .btn-container1 {
    flex-direction: row;
  }

  .btn-blue {
    padding: 12px 15px;
  }

  .btn-light {
    padding: 12px 15px;
  }

  .hero-bg-mobile {
    display: none;
  }

  .hero-bg-desktop {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
    top: -150px;
  }

  /*video section *******************************************************************************************/
  .video {
    padding: 5rem 19rem;
  }

  .video > p {
    font-size: 48px;
    line-height: 58px;
  }

  .video > img {
    margin: 3rem 0;
  }

  .video > button {
    width: 150px;
    margin: auto;
    display: block;
  }

  /*testimonial*/
  .testimonial {
    padding: 5rem 5rem;
  }

  .testimonial > p {
    font-size: 48px;
    line-height: 58px;
    width: 65%;
  }
  .divTestimonial {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 3rem;
  }
  .box {
    background-color: #ffffff;
    border-radius: 16px;
    color: #131316;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
  }

  .person {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    margin-top: 1.5rem;
  }

  .role {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }

  /*pricing section */
  .pricing {
    padding: 3rem 1rem;
  }

  .pricing > h3 {
    font-size: 48px;
    line-height: 58px;
  }

  .plans {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 2.5rem 0;
  }

  .plan {
    border-radius: 16px;
    padding: 3rem 3rem;
    width: 400px;
  }

  .plan > h3 {
    font-size: 36px;
  }

  .plan > p {
    font-size: 16px;
    margin: 1rem 0;
  }

  .cost > span:first-child {
    font-size: 36px;
  }
  .cost > span:last-child {
    font-size: 14px;
  }

  .benifit {
    gap: 0.8rem;
  }

  .fa-check {
    margin-top: 0.3rem;
    margin-right: 1rem;
  }

  .plan > button {
    width: 100%;
    margin: 1rem 0;
  }

  .plus {
    width: 80%;
  }

  .usd {
    font-size: 16px;
  }

  .features {
    font-size: 16px;
  }
}
